/*
Syntax error: File to import not found or unreadable: compass/reset.
              Load paths:
                Compass::SpriteImporter
                /Users/supinchecompilla/rails3tests/blackpearl/public/stylesheets/sass
                /Users/supinchecompilla/rails3tests/blackpearl/app/assets/stylesheets
                /Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.6/frameworks/blueprint/stylesheets
                /Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.6/frameworks/compass/stylesheets
        on line 6 of /Users/supinchecompilla/rails3tests/blackpearl/app/assets/stylesheets/screen.css.scss

1: /* Welcome to Compass.
2:  * In this file you should write your main styles. (or centralize your imports)
3:  * Import this file using the following HTML or equivalent:
4:  * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

5: 
6: @import "compass/reset";

Backtrace:
/Users/supinchecompilla/rails3tests/blackpearl/app/assets/stylesheets/screen.css.scss:6
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/import_node.rb:64:in `rescue in import'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/import_node.rb:42:in `import'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/import_node.rb:25:in `imported_file'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:149:in `rescue in visit_import'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:154:in `visit_import'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/engine.rb:300:in `_render'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/engine.rb:248:in `block in render'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/engine.rb:248:in `render'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:200:in `each'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/plugin/rack.rb:51:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/warden-1.1.0/lib/warden/manager.rb:35:in `block in call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/warden-1.1.0/lib/warden/manager.rb:34:in `catch'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/warden-1.1.0/lib/warden/manager.rb:34:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.1.0/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/rack-1.3.6/lib/rack/etag.rb:23:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/rack-1.3.6/lib/rack/conditionalget.rb:25:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.1.0/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.1.0/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.1.0/lib/action_dispatch/middleware/flash.rb:243:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/rack-1.3.6/lib/rack/session/abstract/id.rb:195:in `context'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/rack-1.3.6/lib/rack/session/abstract/id.rb:190:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.1.0/lib/action_dispatch/middleware/cookies.rb:326:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/activerecord-3.1.0/lib/active_record/query_cache.rb:62:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/activerecord-3.1.0/lib/active_record/connection_adapters/abstract/connection_pool.rb:477:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.1.0/lib/action_dispatch/middleware/callbacks.rb:29:in `block in call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/activesupport-3.1.0/lib/active_support/callbacks.rb:392:in `_run_call_callbacks'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/activesupport-3.1.0/lib/active_support/callbacks.rb:81:in `run_callbacks'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.1.0/lib/action_dispatch/middleware/callbacks.rb:28:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.1.0/lib/action_dispatch/middleware/reloader.rb:68:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/rack-1.3.6/lib/rack/sendfile.rb:101:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.1.0/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.1.0/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/railties-3.1.0/lib/rails/rack/logger.rb:13:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/rack-1.3.6/lib/rack/methodoverride.rb:24:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/rack-1.3.6/lib/rack/runtime.rb:17:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/activesupport-3.1.0/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/rack-1.3.6/lib/rack/lock.rb:15:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.1.0/lib/action_dispatch/middleware/static.rb:53:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/railties-3.1.0/lib/rails/engine.rb:455:in `call'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/railties-3.1.0/lib/rails/railtie/configurable.rb:30:in `method_missing'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/unicorn-4.1.1/lib/unicorn/http_server.rb:528:in `process_client'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/unicorn-4.1.1/lib/unicorn/http_server.rb:600:in `worker_loop'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/unicorn-4.1.1/lib/unicorn/http_server.rb:485:in `spawn_missing_workers'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/unicorn-4.1.1/lib/unicorn/http_server.rb:135:in `start'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/unicorn-4.1.1/bin/unicorn_rails:209:in `<top (required)>'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/bin/unicorn_rails:19:in `load'
/Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/bin/unicorn_rails:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass/reset.\A               Load paths:\A                 Compass::SpriteImporter\A                 /Users/supinchecompilla/rails3tests/blackpearl/public/stylesheets/sass\A                 /Users/supinchecompilla/rails3tests/blackpearl/app/assets/stylesheets\A                 /Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.6/frameworks/blueprint/stylesheets\A                 /Users/supinchecompilla/.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.6/frameworks/compass/stylesheets\A         on line 6 of /Users/supinchecompilla/rails3tests/blackpearl/app/assets/stylesheets/screen.css.scss\A \A 1: /* Welcome to Compass.\A 2:  * In this file you should write your main styles. (or centralize your imports)\A 3:  * Import this file using the following HTML or equivalent:\A 4:  * <link href=\"/stylesheets/screen.css\" media=\"screen, projection\" rel=\"stylesheet\" type=\"text/css\" /> */\A 5: \A 6: @import \"compass/reset\";"; }
