/************************* style.css ********************************************/
/* Getting the new tags to behave */
/* line 6, ../../app/stylesheets/application.scss */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
  display: block;
}

/* line 7, ../../app/stylesheets/application.scss */
mark, rp, rt, ruby, summary, time {
  display: inline;
}

/* Global properties ======================================================== */
/* line 10, ../../app/stylesheets/application.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875em;
  line-height: 1.5em;
  color: #98999e;
  min-width: 1000px;
}

/* line 18, ../../app/stylesheets/application.scss */
html, body {
  height: 100%;
}

/* line 21, ../../app/stylesheets/application.scss */
p {
  padding-bottom: 21px;
}

/* line 23, ../../app/stylesheets/application.scss */
a {
  color: #16b5ff;
  outline: none;
}

/* line 27, ../../app/stylesheets/application.scss */
a:hover {
  text-decoration: none;
}

/* Global Structure ============================================================= */
/* line 32, ../../app/stylesheets/application.scss */
#main {
  margin: 0 auto;
  position: relative;
  width: 980px;
}

/* Header */
/* Content */
/* Footer */
/* line 47, ../../app/stylesheets/application.scss */
footer {
  height: 97px;
}

/* Left & Right alignment */
/* line 52, ../../app/stylesheets/application.scss */
.fleft {
  float: left;
}

/* line 53, ../../app/stylesheets/application.scss */
.fright {
  float: right;
}

/* line 54, ../../app/stylesheets/application.scss */
.clear {
  clear: both;
}

/* line 56, ../../app/stylesheets/application.scss */
.col-1, .col-2, .col-3 {
  float: left;
}

/* line 58, ../../app/stylesheets/application.scss */
.alignright {
  text-align: right;
}

/* line 59, ../../app/stylesheets/application.scss */
.aligncenter {
  text-align: center;
}

/* line 61, ../../app/stylesheets/application.scss */
.wrapper {
  width: 100%;
  overflow: hidden;
}

/*----- form defaults -----*/
/* line 66, ../../app/stylesheets/application.scss */
input, select, textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  vertical-align: middle;
  font-weight: normal;
}

/*----- other -----*/
/* line 74, ../../app/stylesheets/application.scss */
.img-indent {
  margin: 0 20px 0 0;
  float: left;
}

/* line 78, ../../app/stylesheets/application.scss */
.extra-wrap {
  width: 100%;
}

/* line 81, ../../app/stylesheets/application.scss */
.extra-wrap1 {
  overflow: hidden;
}

/* line 84, ../../app/stylesheets/application.scss */
h1 {
  display: inline-block;
  margin-top: 25px;
  float: left;
}

/* line 86, ../../app/stylesheets/application.scss */
h1 a {
  text-indent: -5000px;
  background: url("/images/logo.png") 0 0 no-repeat;
  width: 268px;
  height: 55px;
  display: block;
}

/* line 94, ../../app/stylesheets/application.scss */
h2 {
  font-size: 30px;
  line-height: 1.2307em;
  color: #fff;
  font-weight: normal;
}

/* line 95, ../../app/stylesheets/application.scss */
.h2-bot {
  padding-bottom: 18px;
}

/* line 96, ../../app/stylesheets/application.scss */
.h2-bot1 {
  padding-bottom: 28px;
}

/* line 97, ../../app/stylesheets/application.scss */
.h2-bot2 {
  padding-bottom: 24px;
}

/* line 98, ../../app/stylesheets/application.scss */
.h2-top {
  padding-top: 47px;
}

/* line 99, ../../app/stylesheets/application.scss */
.h2-top1 {
  padding-top: 27px;
}

/* line 101, ../../app/stylesheets/application.scss */
h3 {
  font-size: 30px;
  line-height: 1.2307em;
  color: #fff;
  font-weight: normal;
  padding: 155px 0px 0px 28px;
  letter-spacing: -1px;
}

/* line 103, ../../app/stylesheets/application.scss */
h4 {
  font-size: 72px;
  line-height: 1.2307em;
  color: #fff;
  font-weight: normal;
  padding: 0px 0px 0px 28px;
  letter-spacing: -1px;
  margin-top: -23px;
}

/* line 106, ../../app/stylesheets/application.scss */
nav {
  padding: 34px 0px 0px 0px;
  position: relative;
  z-index: 999;
  float: right;
}

/* line 107, ../../app/stylesheets/application.scss */
.sf-menu {
  margin-right: -1px;
}

/* line 108, ../../app/stylesheets/application.scss */
.sf-menu li {
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 1.2307em;
  padding: 0px 0px 0px 0px;
  background: url("/images/list-bg.png") 0 10px no-repeat;
  display: inline-block;
}

/* line 119, ../../app/stylesheets/application.scss */
.sf-menu .last {
  background: none;
}

/* line 120, ../../app/stylesheets/application.scss */
.sf-menu a {
  display: block;
  position: relative;
  color: #21beff;
  text-decoration: none;
  padding: 10px 20px 12px 19px;
}

/* line 129, ../../app/stylesheets/application.scss */
.sf-menu li li {
  padding: 0;
  font-size: 12px;
  text-align: left;
  line-height: 36px;
  padding: 0 0 0 0px;
  background: url("/images/li-bg.gif") 0 bottom no-repeat;
}

/* line 139, ../../app/stylesheets/application.scss */
.sf-menu li li a {
  padding: 0 0 0 20px;
  display: inline-block;
  text-decoration: none;
  width: 169px;
  color: #21beff;
  background: none;
}

/* line 149, ../../app/stylesheets/application.scss */
.sf-menu li li a:hover {
  color: #fff;
  background: none;
}

/* line 150, ../../app/stylesheets/application.scss */
.sf-menu ul {
  position: absolute;
  top: -999em;
  width: 145px;
  display: none;
  background: url("/images/a-bg.png") 0 0 repeat;
  padding: 0px 0px 0px 0px;
}

/* line 159, ../../app/stylesheets/application.scss */
.sf-menu ul ul {
  position: absolute;
  top: -999em;
  width: 145px;
  display: none;
  background: url("/images/a-bg.png") 0 0 repeat;
  padding: 0px 0px 0px 0px;
}

/* line 169, ../../app/stylesheets/application.scss */
.sf-menu li li li {
  padding: 0;
  font-size: 12px;
  text-align: left;
  line-height: 36px;
  padding: 0 0 0 0px;
  background: url("/images/li-bg.gif") 0 bottom no-repeat;
}

/* line 179, ../../app/stylesheets/application.scss */
.sf-menu li li li a {
  padding: 0 0 0 0px;
  display: inline-block;
  text-decoration: none;
  width: 169px;
  color: #21beff;
  background: none;
  padding-left: 20px;
}

/* line 191, ../../app/stylesheets/application.scss */
.sf-menu li li li a:hover {
  color: #fff;
  background: none;
}

/* line 192, ../../app/stylesheets/application.scss */
.sf-menu ul li {
  width: 100%;
}

/* line 197, ../../app/stylesheets/application.scss */
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left: 0;
  top: 39px;
  /* match top ul list item height */
  z-index: 99;
}

/* line 204, ../../app/stylesheets/application.scss */
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em;
}

/* line 209, ../../app/stylesheets/application.scss */
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 148px;
  /* match ul width */
  top: 0px;
}

/* line 215, ../../app/stylesheets/application.scss */
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em;
}

/* line 219, ../../app/stylesheets/application.scss */
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 10em;
  /* match ul width */
  top: 00px;
}

/* line 225, ../../app/stylesheets/application.scss */
.sf-menu > li.sfHover > a,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a.active {
  color: #fff;
  background: none !important;
}

/* line 228, ../../app/stylesheets/application.scss */
.sf-menu > li:hover {
  background: url("/images/a-bg.png") 0 0 repeat;
}

/* line 233, ../../app/stylesheets/application.scss */
.sf-menu > li.menu-activ > a:hover {
  background: url("/images/a-bg.png") 0 0 repeat;
}

/* line 234, ../../app/stylesheets/application.scss */
.sf-menu > li.menu-activ.sfHover > a {
  background: url("/images/a-bg.png") 0 0 repeat;
}

/* line 237, ../../app/stylesheets/application.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 241, ../../app/stylesheets/application.scss */
.slider {
  width: 920px;
  height: 440px;
  position: relative;
}

/* line 247, ../../app/stylesheets/application.scss */
.items {
  display: none;
}

/* line 250, ../../app/stylesheets/application.scss */
.play.paused {
  color: #f00;
}

/* line 253, ../../app/stylesheets/application.scss */
.banner {
  background: none;
  width: 358px;
  min-height: 368px;
  position: absolute;
  left: 0px;
  top: 72px;
  z-index: 99;
  padding: 0;
}

/* line 264, ../../app/stylesheets/application.scss */
.pagination {
  position: absolute;
  width: 100px;
  height: 21px;
  padding: 0 0 0 0px;
  bottom: 20px;
  right: 40px;
  z-index: 999;
}

/* line 274, ../../app/stylesheets/application.scss */
.pagination li {
  display: inline;
  float: left;
  font-size: 0px;
  line-height: 0px;
  margin-left: 4px;
  background: #fff;
  width: 21px;
  height: 21px;
}

/* line 278, ../../app/stylesheets/application.scss */
.pagination li a {
  color: #c7c7c7;
  text-decoration: none;
  width: 21px;
  height: 21px;
  display: inline-block;
}

/* line 281, ../../app/stylesheets/application.scss */
.pagination .last {
  background: none;
}

/* line 282, ../../app/stylesheets/application.scss */
.pagination li a:hover {
  color: #fff;
  background: #009ae2;
}

/* line 283, ../../app/stylesheets/application.scss */
.pagination li.current a {
  margin: 0;
  cursor: default;
  background: #009ae2;
}

/* line 289, ../../app/stylesheets/application.scss */
.controls {
  position: absolute;
  bottom: -31px;
  left: 0px;
  z-index: 600;
  width: 300px;
  height: 82px;
}

/* line 298, ../../app/stylesheets/application.scss */
.controls a.prev {
  display: block;
  height: 41px;
  width: 22px;
  text-indent: -5000px;
  background: url("/images/button1.png") 0 0px no-repeat;
  position: absolute;
  top: 0;
  left: 438px;
  cursor: pointer;
}

/* line 309, ../../app/stylesheets/application.scss */
.controls a.prev:hover {
  background: url("/images/button1.png") 0 -41px no-repeat;
}

/* line 313, ../../app/stylesheets/application.scss */
.controls a.next {
  display: block;
  height: 41px;
  width: 22px;
  text-indent: -5000px;
  background: url("/images/button2.png") 0 0px no-repeat;
  position: absolute;
  top: 0;
  left: 480px;
  cursor: pointer;
}

/* line 325, ../../app/stylesheets/application.scss */
.controls a.next:hover {
  background: url("/images/button2.png") 0 -41px no-repeat;
}

/* line 329, ../../app/stylesheets/application.scss */
.bg5 {
  background: url("/images/bg5.jpg") 0 0 no-repeat;
  height: 511px;
  width: 940px;
}

/* line 330, ../../app/stylesheets/application.scss */
.bg5 .padding {
  padding: 10px 0px 0px 10px;
}

/*===== header =====*/
/* line 335, ../../app/stylesheets/application.scss */
.row1 {
  height: 35px;
  position: relative;
  z-index: 11;
}

/* line 336, ../../app/stylesheets/application.scss */
.row2 {
  height: 108px;
  position: relative;
  z-index: 12;
}

/* line 337, ../../app/stylesheets/application.scss */
.row3 {
  height: 511px;
}

/* line 339, ../../app/stylesheets/application.scss */
.bg {
  background: url("/images/bg.jpg") center 0 no-repeat;
  min-height: 100%;
  background-color: #000;
}

/* line 341, ../../app/stylesheets/application.scss */
.list {
  float: right;
  margin: 1px 4px 0px 0px;
}

/* line 342, ../../app/stylesheets/application.scss */
.list li {
  float: left;
  font-size: 11px;
  line-height: 30px;
  background: url("/images/list-bg.png") right 6px no-repeat;
  padding: 0px 15px 0px 15px;
}

/* line 343, ../../app/stylesheets/application.scss */
.list a {
  color: #929b9e;
  text-decoration: none;
}

/* line 344, ../../app/stylesheets/application.scss */
.list a:hover {
  color: #fff;
}

/* line 346, ../../app/stylesheets/application.scss */
.list .last {
  background: none;
}

/* line 348, ../../app/stylesheets/application.scss */
.bg1 {
  background: url("/images/bg1.png") 0 0 no-repeat;
  height: 511px;
  width: 940px;
}

/* line 350, ../../app/stylesheets/application.scss */
.box {
  background: url("/images/box-bg.png") 0 0 repeat;
  min-height: 405px;
  width: 294px;
}

/* line 351, ../../app/stylesheets/application.scss */
.box .padding {
  padding: 10px 20px 0px 19px;
}

/* line 353, ../../app/stylesheets/application.scss */
.indent {
  padding-top: 30px;
}

/* line 354, ../../app/stylesheets/application.scss */
.indent1 {
  padding-top: 32px;
}

/* line 355, ../../app/stylesheets/application.scss */
.indent2 {
  padding-top: 28px;
}

/* line 356, ../../app/stylesheets/application.scss */
.indent3 {
  padding-top: 43px;
}

/* line 358, ../../app/stylesheets/application.scss */
.img-pad {
  padding: 10px 0px 10px 10px;
}

/* line 360, ../../app/stylesheets/application.scss */
.img-bot {
  margin-bottom: 7px;
}

/* line 362, ../../app/stylesheets/application.scss */
.indent-bottom {
  padding-bottom: 30px;
}

/* line 363, ../../app/stylesheets/application.scss */
.indent-bottom1 {
  padding-bottom: 50px;
}

/* line 364, ../../app/stylesheets/application.scss */
.indent-bottom2 {
  padding-bottom: 42px;
}

/* line 365, ../../app/stylesheets/application.scss */
.indent-bottom3 {
  padding-bottom: 48px;
}

/* line 367, ../../app/stylesheets/application.scss */
.pad-top {
  padding-top: 30px;
}

/* line 369, ../../app/stylesheets/application.scss */
.bg3 {
  background: url("/images/bg3.png") 0 0 no-repeat;
  height: 368px;
  width: 358px;
}

/* line 371, ../../app/stylesheets/application.scss */
.pad {
  padding: 82px 0px 0px 10px;
}

/* line 373, ../../app/stylesheets/application.scss */
.text2 {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  padding: 1px 0px 0px 29px;
}

/* line 375, ../../app/stylesheets/application.scss */
.button {
  background: url("/images/button.png") 0 0 no-repeat;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  height: 25px;
  width: 87px;
  padding: 3px 0px 0px 9px;
  margin: 15px 0px 0px 30px;
  display: block;
}

/* line 377, ../../app/stylesheets/application.scss */
.button:hover {
  color: #17b9fd;
}

/* line 379, ../../app/stylesheets/application.scss */
.button1 {
  background: url("/images/button1.png") 0 0 no-repeat;
  height: 41px;
  width: 22px;
  position: absolute;
  left: 438px;
  bottom: 10px;
}

/* line 380, ../../app/stylesheets/application.scss */
.button1:hover {
  background: url("/images/button1.png") 0 -41px no-repeat;
}

/* line 382, ../../app/stylesheets/application.scss */
.button2 {
  background: url("/images/button2.png") 0 0 no-repeat;
  height: 41px;
  width: 22px;
  position: absolute;
  left: 480px;
  bottom: 10px;
}

/* line 383, ../../app/stylesheets/application.scss */
.button2:hover {
  background: url("/images/button2.png") 0 -41px no-repeat;
}

/* line 385, ../../app/stylesheets/application.scss */
.list4 {
  float: right;
  margin: 20px 20px 0px 0px;
}

/* line 386, ../../app/stylesheets/application.scss */
.list4 li {
  float: left;
  font-size: 14px;
  line-height: 15px;
  background: #0e90e3;
  margin-left: 1px;
}

/* line 387, ../../app/stylesheets/application.scss */
.list4 a {
  color: #c7c7c7;
  text-decoration: none;
  padding: 3px 6px 3px 7px;
  display: inline-block;
}

/* line 388, ../../app/stylesheets/application.scss */
.list4 a:hover {
  color: #fff;
  background: #009ae2;
}

/*===== content =====*/
/* line 393, ../../app/stylesheets/application.scss */
.color {
  color: #7a7c87;
}

/* line 395, ../../app/stylesheets/application.scss */
.link1 {
  background: url("/images/link1-bg.png") 0 0 no-repeat;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  height: 24px;
  width: 78px;
  padding: 4px 0px 0px 10px;
}

/* line 396, ../../app/stylesheets/application.scss */
.link1:hover {
  color: #000;
}

/* line 398, ../../app/stylesheets/application.scss */
.link2 {
  background: url("/images/link2-bg.png") 0 0 no-repeat;
  display: inline-block;
  text-decoration: none;
  color: #17b5ff;
  font-size: 11px;
  text-transform: uppercase;
  height: 24px;
  width: 78px;
  padding: 4px 0px 0px 10px;
}

/* line 399, ../../app/stylesheets/application.scss */
.link2:hover {
  color: #fff;
}

/* line 401, ../../app/stylesheets/application.scss */
.link1-pad {
  margin: 27px 0px 0px 167px;
}

/* line 402, ../../app/stylesheets/application.scss */
.link2-pad {
  margin: 14px 0px 0px 332px;
}

/* line 403, ../../app/stylesheets/application.scss */
.link2-pad1 {
  margin: 25px 0px 0px 372px;
}

/* line 404, ../../app/stylesheets/application.scss */
.link2-pad2 {
  margin: 9px 0px 0px 532px;
}

/* line 406, ../../app/stylesheets/application.scss */
.box-left {
  margin-left: 3px;
}

/* line 407, ../../app/stylesheets/application.scss */
.box-left1 {
  margin-left: 6px;
}

/* line 409, ../../app/stylesheets/application.scss */
.list1 li {
  font-size: 14px;
  line-height: 28px;
  background: url("/images/list-bg.gif") 0 9px no-repeat;
  padding-left: 19px;
}

/* line 410, ../../app/stylesheets/application.scss */
.list1 a {
  color: #16b5ff;
  text-decoration: none;
}

/* line 411, ../../app/stylesheets/application.scss */
.list1 a:hover {
  text-decoration: underline;
}

/* line 413, ../../app/stylesheets/application.scss */
.list1-top {
  padding-top: 24px;
}

/* line 415, ../../app/stylesheets/application.scss */
.border {
  background: url("/images/border.png") 0 0 repeat-x;
  height: 1px;
  width: 940px;
}

/* line 417, ../../app/stylesheets/application.scss */
.border1 {
  background: url("/images/border1.png") 0 0 repeat-x;
  height: 1px;
  width: 268px;
}

/* line 418, ../../app/stylesheets/application.scss */
.border-pad {
  margin: 21px 0px 27px 0px;
}

/* line 421, ../../app/stylesheets/application.scss */
.page2-bg {
  background: url("/images/page2-bg.png") 0 0 no-repeat;
  height: 78px;
  width: 33px;
  font-size: 35px;
  line-height: 1.2307em;
  color: #fff;
  font-weight: bold;
  padding: 5px 0px 0px 18px;
}

/* line 423, ../../app/stylesheets/application.scss */
.text {
  margin-top: -2px;
}

/* line 424, ../../app/stylesheets/application.scss */
.text a {
  color: #16b5ff;
  text-decoration: none;
}

/* line 425, ../../app/stylesheets/application.scss */
.text a:hover {
  text-decoration: underline;
}

/* line 427, ../../app/stylesheets/application.scss */
.box-2 {
  background: url("/images/box-2.gif") 0 0 no-repeat;
  height: 166px;
  width: 269px;
  margin: 32px 0px 0px 0px;
}

/* line 428, ../../app/stylesheets/application.scss */
.box-2 .padding {
  padding: 28px 10px 0px 35px;
}

/* line 430, ../../app/stylesheets/application.scss */
.name {
  font-size: 14px;
  line-height: 19px;
  color: #16b5ff;
  text-align: right;
  padding: 0px 32px 0px 0px;
  margin-top: -2px;
}

/* line 432, ../../app/stylesheets/application.scss */
.color1 {
  color: #16b5ff;
}

/* line 434, ../../app/stylesheets/application.scss */
.list2 li {
  float: left;
  width: 174px;
  background: url("/images/list2-bg.png") 0 0 repeat;
  padding: 10px 10px 12px 10px;
  margin-right: 19px;
}

/* line 435, ../../app/stylesheets/application.scss */
.list2 strong {
  letter-spacing: -1px;
  font-weight: normal;
}

/* line 437, ../../app/stylesheets/application.scss */
.list2 .last {
  margin-right: 0px;
}

/* line 439, ../../app/stylesheets/application.scss */
.list2-top {
  padding-top: 30px;
}

/* line 440, ../../app/stylesheets/application.scss */
.list2-top1 {
  padding-top: 19px;
}

/* line 442, ../../app/stylesheets/application.scss */
.list3 li {
  font-size: 20px;
  line-height: 1.2307em;
  background: #19181c;
  margin-bottom: 3px;
  height: 47px;
  width: 268px;
}

/* line 443, ../../app/stylesheets/application.scss */
.list3 a {
  color: #fff;
  text-decoration: none;
  padding: 11px 0px 11px 22px;
  width: 246px;
  display: inline-block;
}

/* line 444, ../../app/stylesheets/application.scss */
.list3 a:hover {
  background: #16b5ff;
}

/* line 446, ../../app/stylesheets/application.scss */
.list3-top {
  padding-top: 30px;
}

/* line 448, ../../app/stylesheets/application.scss */
.text1 {
  font-size: 14px;
  line-height: 21px;
}

/* line 449, ../../app/stylesheets/application.scss */
.text1 span {
  color: #16b5ff;
  text-transform: uppercase;
}

/* line 450, ../../app/stylesheets/application.scss */
.text1 strong {
  color: #fff;
  font-weight: normal;
}

/* line 452, ../../app/stylesheets/application.scss */
.text-top1 {
  padding-top: 28px;
}

/* line 453, ../../app/stylesheets/application.scss */
.text-top2 {
  padding-top: 25px;
}

/* line 455, ../../app/stylesheets/application.scss */
.pad-left {
  padding-left: 24px;
}

/* line 457, ../../app/stylesheets/application.scss */
iframe {
  height: 300px;
  width: 268px;
  margin: 30px 0px 25px 0px;
}

/* line 459, ../../app/stylesheets/application.scss */
dt {
  color: #16b5ff;
}

/* line 460, ../../app/stylesheets/application.scss */
dl span {
  float: left;
  width: 83px;
}

/* line 461, ../../app/stylesheets/application.scss */
dd a {
  color: #16b5ff;
  text-decoration: none;
  margin-left: 3px;
}

/* line 462, ../../app/stylesheets/application.scss */
dd a:hover {
  text-decoration: underline;
}

/* line 464, ../../app/stylesheets/application.scss */
.dd-top {
  padding-top: 21px;
}

/*===== footer =====*/
/* line 470, ../../app/stylesheets/application.scss */
.box-1 {
  background: url("/images/box-1.png") 0 0 repeat;
  height: 40px;
  width: 940px;
}

/* line 472, ../../app/stylesheets/application.scss */
.foot-text {
  color: #656772;
  padding: 9px 19px 0px 0px;
  font-size: 11px;
  line-height: 18px;
  text-align: right;
}

/* line 473, ../../app/stylesheets/application.scss */
.foot-text a {
  color: #656772;
  text-decoration: none;
}

/* line 474, ../../app/stylesheets/application.scss */
.foot-text a:hover {
  text-decoration: underline;
}

/* line 476, ../../app/stylesheets/application.scss */
.foot-text span {
  padding: 0px 6px 0px 6px;
}

/*----- forms -----*/
/* line 478, ../../app/stylesheets/application.scss */
#contact-form {
  vertical-align: top;
  padding-top: 30px;
}

/* line 482, ../../app/stylesheets/application.scss */
#contact-form fieldset {
  border: none;
}

/* line 485, ../../app/stylesheets/application.scss */
#contact-form .rowElem {
  display: block;
  position: relative;
  min-height: 45px;
  overflow: hidden;
}

/* line 491, ../../app/stylesheets/application.scss */
#contact-form .textarea-box {
  position: relative;
}

/* line 494, ../../app/stylesheets/application.scss */
#contact-form input {
  width: 337px;
  padding: 9px 0px 10px 13px;
  background: #17171b;
  border: 1px dotted #31343b;
  line-height: 1.2307em;
  font-size: 1em;
  display: block;
  color: #98999e;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 506, ../../app/stylesheets/application.scss */
#contact-form .link3 {
  float: right;
  margin: 27px 2px 0px 0px;
}

/* line 507, ../../app/stylesheets/application.scss */
#contact-form .link3 a {
  background: url("/images/link3-bg.png") 0 0 no-repeat;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  height: 28px;
  width: 100px;
  padding: 4px 0px 0px 10px;
  margin-left: 20px;
}

/* line 511, ../../app/stylesheets/application.scss */
#contact-form .link3 a:hover {
  color: #000;
}

/* line 513, ../../app/stylesheets/application.scss */
#contact-form .color {
  color: #fff;
}

/* line 516, ../../app/stylesheets/application.scss */
#contact-form textarea {
  font-size: 1em;
  line-height: 1.2307em;
  width: 607px;
  height: 221px;
  padding: 7px 0px 10px 13px;
  background: #17171b;
  border: 1px dotted #31343b;
  line-height: 1.2307em;
  display: block;
  color: #98999e;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 531, ../../app/stylesheets/application.scss */
#contact-form label {
  padding: 0px 0 2px 5px;
  display: inline-block;
  font-size: 13px;
  display: none;
}

/* line 537, ../../app/stylesheets/application.scss */
#contact-form .rowElem label {
  font-size: 11px;
  right: 5px;
  top: 0;
}

/* line 543, ../../app/stylesheets/application.scss */
#contact-form .textarea-box label {
  padding: 0px 0 2px 5px;
  font-size: 11px;
}

/* line 547, ../../app/stylesheets/application.scss */
#contact-form .error {
  color: red;
}

/* line 551, ../../app/stylesheets/application.scss */
div#contact_form .download-box {
  margin: 0px 30px 0 0;
  padding-top: 24px;
}

/* line 555, ../../app/stylesheets/application.scss */
#back {
  background: url("/images/link3-bg.png") 0 0 no-repeat;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  height: 28px;
  width: 100px;
  padding: 4px 0px 0px 10px;
  cursor: pointer;
}

/* line 559, ../../app/stylesheets/application.scss */
#back:hover {
  color: #000;
}

/*==========================================*/
/* Project specifics =========================================================== */
/* line 565, ../../app/stylesheets/application.scss */
a.buttonSubmit {
  background: transparent url("/images/nue-btn-orange.png") right 0 no-repeat;
  height: 51px;
  float: right;
  overflow: visible;
  padding: 0 2px 0 0;
  position: relative;
  color: #444;
  border-radius: 4px 4px 4px 4px;
  text-decoration: none;
}

/* line 578, ../../app/stylesheets/application.scss */
a.buttonSubmit span {
  background: transparent url("/images/nue-btn-orange.png") no-repeat;
  background-position: 0 -56px;
  display: block;
  height: 21px;
  line-height: 21px;
  padding: 15px 10px 15px 15px;
  position: relative;
  white-space: nowrap;
  font-family: Arial;
  color: #FFF;
  font-size: 18px;
  text-decoration: none;
  text-shadow: 0 -2px 0 #d86a11;
}

/* line 594, ../../app/stylesheets/application.scss */
a.buttonSubmit:hover span {
  text-decoration: underline;
}

/* line 598, ../../app/stylesheets/application.scss */
div.popup {
  opacity: 1;
  overflow: hidden;
  width: 380px;
}

/* line 604, ../../app/stylesheets/application.scss */
input.watermark {
  color: #C0C0C0;
  font-size: 22px;
  font-family: Arial;
}

/* line 610, ../../app/stylesheets/application.scss */
span.beta {
  color: #009;
}

/* line 614, ../../app/stylesheets/application.scss */
div.loginFrm {
  padding-left: 225px;
  padding-top: 130px;
}

/* line 619, ../../app/stylesheets/application.scss */
div.insideLoginFrm {
  background-color: #CCC;
  width: 450px;
  height: 230px;
  padding-top: 30px;
  padding-left: 50px;
}

/* line 627, ../../app/stylesheets/application.scss */
label.loginFrm {
  font-size: 24px;
  line-height: 45px;
}

/* line 632, ../../app/stylesheets/application.scss */
input.loginFrm {
  width: 270px;
  height: 45px;
}

/* line 637, ../../app/stylesheets/application.scss */
label.loginemail {
  padding-right: 55px;
}

/* line 641, ../../app/stylesheets/application.scss */
label.loginpass {
  padding-right: 10px;
}

/* line 645, ../../app/stylesheets/application.scss */
.hide {
  display: none;
}

/* line 649, ../../app/stylesheets/application.scss */
a.loginSubmitBtn {
  margin-right: 60px;
}

/****** notice *******/
/* line 654, ../../app/stylesheets/application.scss */
div.notice {
  color: #16b5ff;
  text-align: center;
}

/* line 659, ../../app/stylesheets/application.scss */
div.alert {
  color: #CC0000;
  text-align: center;
}

/********************* minutes styles *******************************/
/* line 664, ../../app/stylesheets/application.scss */
textarea.watermark {
  color: #C0C0C0;
  font-size: 18px;
  font-family: Arial;
}

/* line 670, ../../app/stylesheets/application.scss */
.todoDescription {
  font-family: Arial;
  font-size: 14px;
  color: #003399;
}

/* line 676, ../../app/stylesheets/application.scss */
.titleMinute {
  font-family: Arial;
  font-size: 20px;
  color: #003399;
}

/* line 682, ../../app/stylesheets/application.scss */
div#egDiv {
  color: #00FF00;
}
/* line 684, ../../app/stylesheets/application.scss */
div#egDiv span {
  color: #FF0000;
}

/****************** Buttons forms *************************************/
/* line 689, ../../app/stylesheets/application.scss */
input.submitSaveIt {
  background: transparent url("/images/create_it.png") no-repeat;
  width: 345px;
  height: 35px;
  border-radius: 30px 30px 30px 30px;
  border-style: none none solid;
  border_width: medium medium 1px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 3px 6px rgba(131, 141, 148, 0.2), 1px 1px 0 rgba(255, 255, 255, 0.57) inset, 0 0 7px 0 rgba(254, 179, 0, 0.75) inset;
}

/* line 699, ../../app/stylesheets/application.scss */
input.submitUpdateIt {
  background: transparent url("/images/update_it.png") no-repeat;
  width: 123px;
  height: 35px;
  border-radius: 30px 30px 30px 30px;
  border-style: none none solid;
  border_width: medium medium 1px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 3px 6px rgba(131, 141, 148, 0.2), 1px 1px 0 rgba(255, 255, 255, 0.57) inset, 0 0 7px 0 rgba(254, 179, 0, 0.75) inset;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 15px;
}

/* line 712, ../../app/stylesheets/application.scss */
input.submit_generate_tasks {
  cursor: pointer;
  background: transparent url("/images/generate_actions.png") no-repeat;
  width: 256px;
  height: 35px;
  border-radius: 30px 30px 30px 30px;
  border-style: none none solid;
  border_width: medium medium 1px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 3px 6px rgba(131, 141, 148, 0.2), 1px 1px 0 rgba(255, 255, 255, 0.57) inset, 0 0 7px 0 rgba(254, 179, 0, 0.75) inset;
}

/* line 723, ../../app/stylesheets/application.scss */
input.add_this_item {
  cursor: pointer;
  background: transparent url("/images/add_this_item.png") no-repeat;
  width: 130px;
  height: 35px;
  border-radius: 30px 30px 30px 30px;
  border-style: none none solid;
  border_width: medium medium 1px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 3px 6px rgba(131, 141, 148, 0.2), 1px 1px 0 rgba(255, 255, 255, 0.57) inset, 0 0 7px 0 rgba(254, 179, 0, 0.75) inset;
}

/* line 734, ../../app/stylesheets/application.scss */
.content_inside_container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 940px;
}

/* line 740, ../../app/stylesheets/application.scss */
.subheader {
  background: url("/images/bg5.jpg") no-repeat scroll 0 0 transparent;
}

/* line 744, ../../app/stylesheets/application.scss */
.field_with_errors {
  display: inline;
}

/******************************** TASKS **********************************/
/* line 749, ../../app/stylesheets/application.scss */
.headerMinute {
  background-color: #F2F2F2;
  border-radius: 3px 3px 3px 3px;
  border-top: 1px solid #E2E2E2;
  color: #333333 !important;
  font-size: 13px !important;
  font-weight: bold;
  margin-bottom: 5px !important;
  padding: 6px !important;
  width: 97%;
}

/* line 761, ../../app/stylesheets/application.scss */
.previewTask {
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 960px;
  padding-bottom: 20px;
  padding-left: 10px;
}

/* line 771, ../../app/stylesheets/application.scss */
#innerDiv {
  overflow: hidden;
  border-bottom: 1px solid #EEEEEE;
}

/* line 776, ../../app/stylesheets/application.scss */
#item_checkbox {
  float: left;
  width: 30px;
  display: inline;
}

/* line 782, ../../app/stylesheets/application.scss */
#item_task {
  width: 800px;
}

/* line 786, ../../app/stylesheets/application.scss */
a.dateBubble {
  float: right;
  color: #FFF;
  font-size: 12px;
  text-decoration: none;
}
/* line 792, ../../app/stylesheets/application.scss */
a.dateBubble span {
  padding: 3px;
  background-color: #00CCFF;
  border-radius: 2px 2px 2px 2px;
  border-style: none none solid;
  border_width: medium medium 1px;
}
/* line 799, ../../app/stylesheets/application.scss */
a.dateBubble:hover {
  /*.actions {
    display: block;
  }*/
}

/* line 806, ../../app/stylesheets/application.scss */
a.personBubble {
  float: right;
  color: #000;
  font-size: 12px;
  text-decoration: none;
}
/* line 812, ../../app/stylesheets/application.scss */
a.personBubble span {
  padding: 5px;
  background-color: #E0ECFF;
  border-radius: 5px 5px 5px 5px;
  border-style: none none solid;
  border_width: medium medium 1px;
  margin-right: 150px;
}
/* line 819, ../../app/stylesheets/application.scss */
a.personBubble span:hover {
  background-color: #C3D9FF;
}
/* line 823, ../../app/stylesheets/application.scss */
a.personBubble:hover {
  /*.actions {
    display: block;
  }*/
}

/* line 831, ../../app/stylesheets/application.scss */
.task_content {
  width: 500px;
}

/* line 835, ../../app/stylesheets/application.scss */
div#tools {
  display: inline;
}
/* line 837, ../../app/stylesheets/application.scss */
div#tools a {
  background: none;
  height: 12px;
  text-indent: 1px;
  float: right;
  width: auto;
  display: block;
}

/* line 848, ../../app/stylesheets/application.scss */
.taskDescription {
  border: 1px solid #DDDDDD;
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 5px;
  padding: 6px 3px;
  resize: none;
  font-size: 13px;
  margin-bottom: 5px;
  width: 592px;
  height: 32px;
  letter-spacing: 0.8px;
  overflow-x: hidden;
}

/* line 862, ../../app/stylesheets/application.scss */
.task_div {
  overflow: hidden !important;
  padding: 4px 0;
}

/* line 867, ../../app/stylesheets/application.scss */
.mycontainer {
  background-color: #EFEFEF;
  box-shadow: 0 1px 3px #AAAAAA;
  padding: 5px;
  width: 600px;
  height: 133px;
}

/* line 875, ../../app/stylesheets/application.scss */
.div_people {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 3px 3px 3px 3px;
  cursor: text;
  margin-bottom: 8px;
  padding: 6px;
  resize: none;
  text-align: left;
  width: 48%;
  float: right;
}

/* line 889, ../../app/stylesheets/application.scss */
.div_dates {
  cursor: pointer;
  float: left;
  width: 48%;
}

/* line 896, ../../app/stylesheets/application.scss */
.date_input {
  border: 1px solid #DDDDDD;
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 5px;
  padding: 4px 6px;
  resize: none;
  width: 273px;
  height: 25px;
}

/* line 906, ../../app/stylesheets/application.scss */
.tools_task {
  width: 55px;
  display: inline;
}

/* line 910, ../../app/stylesheets/application.scss */
.data_task {
  display: inline-block;
  float: right;
  width: 90%;
}
/* line 914, ../../app/stylesheets/application.scss */
.data_task div {
  font-size: 0.8em;
}

/* line 919, ../../app/stylesheets/application.scss */
a.titleDateBubble {
  color: #FFF;
  font-size: 12px;
  text-decoration: none;
}
/* line 924, ../../app/stylesheets/application.scss */
a.titleDateBubble span {
  padding: 3px;
  background-color: #00CCFF;
  border-radius: 2px 2px 2px 2px;
  border-style: none none solid;
  border_width: medium medium 1px;
}

/* line 934, ../../app/stylesheets/application.scss */
a.titleDateBubble_done {
  color: #FFF;
  font-size: 12px;
  text-decoration: none;
}
/* line 939, ../../app/stylesheets/application.scss */
a.titleDateBubble_done span {
  padding: 3px;
  background-color: #999;
  border-radius: 2px 2px 2px 2px;
  border-style: none none solid;
  border_width: medium medium 1px;
}

/* line 949, ../../app/stylesheets/application.scss */
a.title_assigned {
  color: #333;
  font-size: 12px;
  text-decoration: none;
}
/* line 954, ../../app/stylesheets/application.scss */
a.title_assigned span {
  padding: 3px;
  background-color: #E0ECFF;
  border-radius: 2px 2px 2px 2px;
  border-style: none none solid;
  border_width: medium medium 1px;
}
/* line 960, ../../app/stylesheets/application.scss */
a.title_assigned span:hover {
  background-color: #0066FF;
}

/* line 967, ../../app/stylesheets/application.scss */
div#nav_tabs li {
  border: medium none;
  display: inline;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
/* line 973, ../../app/stylesheets/application.scss */
div#nav_tabs li a {
  background-color: #000066;
  margin: 0 1px;
  padding: 5px 9px 7px;
  text-decoration: none;
}
/* line 978, ../../app/stylesheets/application.scss */
div#nav_tabs li a:hover {
  background-color: #0000CC;
}
/* line 983, ../../app/stylesheets/application.scss */
div#nav_tabs li a.active {
  color: #000;
  font-weight: bold;
  background-color: #FFF;
  margin: 0 1px;
  padding: 5px 9px 7px;
  text-decoration: none;
}
/* line 990, ../../app/stylesheets/application.scss */
div#nav_tabs li a.active:hover {
  background-color: #CC9900;
}
/* line 995, ../../app/stylesheets/application.scss */
div#nav_tabs li a.dashboard_link {
  color: #000;
  background-color: #FFCC00;
  margin: 0 1px;
  padding: 5px 9px 7px;
  text-decoration: none;
}
/* line 1001, ../../app/stylesheets/application.scss */
div#nav_tabs li a.dashboard_link:hover {
  color: #FFF;
  background-color: #CC9900;
}

/* line 1009, ../../app/stylesheets/application.scss */
a.edit_task_link {
  font-size: 12px;
  text-decoration: none;
}
/* line 1012, ../../app/stylesheets/application.scss */
a.edit_task_link:hover {
  text-decoration: underline;
}

/******************************** MINUTES **********************************/
/* line 1017, ../../app/stylesheets/application.scss */
.previewMinute {
  background-color: #FFF;
  padding-bottom: 20px;
  padding-left: 10px;
  overflow: hidden;
}

/* line 1024, ../../app/stylesheets/application.scss */
div.actions {
  float: right;
}

/* line 1028, ../../app/stylesheets/application.scss */
.headerMinuteList {
  background-color: #666666;
  border-radius: 3px 3px 3px 3px;
  border-top: 1px solid #E2E2E2;
  color: #FFF !important;
  font-size: 20px !important;
  font-weight: bold;
  margin-bottom: 5px !important;
  padding: 6px !important;
  width: 97%;
}

/* line 1040, ../../app/stylesheets/application.scss */
h1.headerMinuteList {
  display: inline-block;
  margin-top: 5px;
  float: left;
}

/* line 1046, ../../app/stylesheets/application.scss */
a.titleBubble {
  color: #FFF;
  font-size: 16px;
  text-decoration: none;
}
/* line 1053, ../../app/stylesheets/application.scss */
a.titleBubble span {
  padding: 3px;
  background-color: #003366;
  border-radius: 2px 2px 2px 2px;
  border-style: none none solid;
  border_width: medium medium 1px;
}

/* line 1063, ../../app/stylesheets/application.scss */
#minute_container {
  float: left;
  width: 100%;
}

/* line 1069, ../../app/stylesheets/application.scss */
.minute_container {
  float: left;
  width: 100%;
}

/* line 1074, ../../app/stylesheets/application.scss */
#image_minute {
  width: 50px;
  display: block;
  height: 50px;
  float: left;
}

/* line 1081, ../../app/stylesheets/application.scss */
#data_minute {
  width: 90%;
  display: block;
  float: left;
}

/* line 1087, ../../app/stylesheets/application.scss */
ul.list_data {
  padding-left: 2px;
}
/* line 1090, ../../app/stylesheets/application.scss */
ul.list_data li div.actions {
  display: none;
}
/* line 1095, ../../app/stylesheets/application.scss */
ul.list_data li:hover div.actions {
  display: block;
}

/* line 1107, ../../app/stylesheets/application.scss */
span.image-wrapper {
  display: block;
}
/* line 1110, ../../app/stylesheets/application.scss */
span.image-wrapper i {
  display: block;
  height: 18px;
  width: 18px;
}
/* line 1115, ../../app/stylesheets/application.scss */
span.image-wrapper i.showit {
  background: url("/images/right_arrow.png") no-repeat scroll 0 0 transparent;
}
/* line 1117, ../../app/stylesheets/application.scss */
span.image-wrapper i.showit:hover {
  background: url("/images/right_arrow_gray.png") no-repeat scroll 0 0 transparent;
}
/* line 1121, ../../app/stylesheets/application.scss */
span.image-wrapper i.trashit {
  background: url("/images/trash_it.png") no-repeat scroll 0 0 transparent;
}
/* line 1123, ../../app/stylesheets/application.scss */
span.image-wrapper i.trashit:hover {
  background: url("/images/trash_it_hover.png") no-repeat scroll 0 0 transparent;
}
/* line 1127, ../../app/stylesheets/application.scss */
span.image-wrapper i.editit {
  background: url("/images/edit_minute.png") no-repeat scroll 0 0 transparent;
}
/* line 1129, ../../app/stylesheets/application.scss */
span.image-wrapper i.editit:hover {
  background: url("/images/edit_minute_hover.png") no-repeat scroll 0 0 transparent;
}

/* line 1137, ../../app/stylesheets/application.scss */
ul.minute_actions {
  display: inline;
  list-style: none outside none;
  list-style-type: none;
}
/* line 1141, ../../app/stylesheets/application.scss */
ul.minute_actions li {
  display: inline-block;
}

/* line 1146, ../../app/stylesheets/application.scss */
div.task_number {
  float: right;
  width: 60px;
  text-align: center;
  font-size: 1em;
}
/* line 1152, ../../app/stylesheets/application.scss */
div.task_number a {
  color: #FF6600;
  text-decoration: none;
}
/* line 1157, ../../app/stylesheets/application.scss */
div.task_number a.add_task_minute {
  color: #FF6600;
  text-decoration: none;
  font-size: 12px;
}

/* line 1164, ../../app/stylesheets/application.scss */
div.minute_text {
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 3px;
}

/* line 1169, ../../app/stylesheets/application.scss */
div#error_explanation {
  background-color: #FFCC00;
  border: 1px solid #FF0000;
  color: #000000;
  padding: 3px;
  width: 390px;
}

/* line 1178, ../../app/stylesheets/application.scss */
a.task_counter div.pendingTasks {
  display: block;
}
/* line 1181, ../../app/stylesheets/application.scss */
a.task_counter div.percentageTasks {
  display: none;
}
/* line 1185, ../../app/stylesheets/application.scss */
a.task_counter:hover div.pendingTasks {
  display: none;
}
/* line 1188, ../../app/stylesheets/application.scss */
a.task_counter:hover div.percentageTasks {
  display: block;
}

/* line 1195, ../../app/stylesheets/application.scss */
.with_gray div {
  color: #999;
}

/* line 1201, ../../app/stylesheets/application.scss */
.set_inline_block {
  display: inline-block;
}
