%div.subheader.content_inside_container
  %h1{:style => 'padding:15px;margin-top:0px;'}
    Type your minute here:
  %br
  .clear
  #frmContainer{:style => 'padding:15px;background-color:#000;overflow:hidden;'}
    = render 'form'
